<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start *ngIf="isPushPage">
      <button ion-button navPop icon-start>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start *ngIf="!isPushPage">
      <button ion-button (click)="popView()" icon-start>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>账户设置</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-item (click)="openAccountPage()">
    更改账户设置
  </button>
  <button ion-item (click)="openAddressPage()">
    收货地址管理
  </button>
  <button ion-item (click)="clearLocalStorage()">
    清除本地缓存
  </button>
  <div padding>
    <button ion-button block outline color="dark" (click)="exit()">退出登录</button>
  </div>

</ion-content>
