page-login {

  .header{
    margin: 60px auto 20px;
    text-align: center;

    img{
      margin: 30px auto 0px;
      width: 100px;
      height: 100px;
    }

    h3{
      text-align: center;
    }

  }


}
