<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start *ngIf="isPushPage">
      <button ion-button navPop icon-start>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start *ngIf="!isPushPage">
      <button ion-button (click)="popView()" icon-start>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>我的订单</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/1.jpg">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
    </ion-item>
  </ion-list>
</ion-content>
