<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>品类</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()">
        <ion-icon name="ios-cart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <ion-scroll scrollY="true">
          <div class="{{item.flag ? 'left-nav-item-actived':'left-nav-item'}}" *ngFor="let item of classify;let i = index;" (click)="click_classify(item,i)"><p>{{item.name}}</p></div>
        </ion-scroll>
      </ion-col>
      <ion-col col-9>
        <ion-scroll scrollY="true">
          <ion-list>
            <ion-item tappable (click)="openDetail(product)" *ngFor="let product of Products">
              <ion-thumbnail item-start>
                <img src="assets/imgs/1.jpg">
              </ion-thumbnail>
              <h4>{{product.name}}</h4>
              <p>{{product.add_time}}</p>
              <p>￥{{product.price}}</p>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
