page-category{

  .grid{
    padding: 0;
    height: 100%;

    .row{
      height: 100%;
    }

    .col{
      padding: 0;
      height: 100%;
      border-right: 2px solid #eee;

      ion-scroll{
        height: 100%;
      }
    }
  }

  .left-nav-item{
    border-bottom: 2px solid #eee;

    p{
      margin: 8px 0;
      text-align: center;
      vertical-align: middle;
    }
  }
}
