<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button navPop icon-start>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>购物车</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="cart-card" *ngFor="let cart of carts">
    <ion-row>
      <ion-col col-4>
        <img src="assets/imgs/1.jpg" alt="">
      </ion-col>
      <ion-col col-8>
        <p>{{cart.name}}</p>
        <p class="price">￥ {{cart.price}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <input type="number" class="number-input" value="{{cart.count}}">
      <button ion-button outline color="dark" class="delete_btn" (click)="delete_cart(cart)">删除</button>
    </ion-row>

  </ion-card>

  <button ion-button outline color="danger" block (click)="purchase()" *ngIf="carts.length>0">购买</button>
  <button ion-button outline color="danger" block (click)="purchase()" disabled *ngIf="carts.length==0">购买</button>
</ion-content>
