page-home {

  .home_slide{
    height: 200px;
  }

  .home-card{



  }

  .card-scroll{
    height: 150px;
    white-space: nowrap;

    .scroll-item{
      display: inline-block;
      width: 150px;
    }

  }

}
