<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start *ngIf="isPushPage">
      <button ion-button navPop icon-start>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start *ngIf="!isPushPage">
      <button ion-button (click)="popView()" icon-start>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>我的账户</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>订单</h5>
  <ion-list class="account-list">
    <button ion-item (click)="open_indent()">
      我的订单
    </button>
  </ion-list>
</ion-content>
