<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>您好</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="menu-list">
      <button menuClose ion-item *ngFor="let p of first_pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <hr>
      <button menuClose ion-item *ngFor="let p of second_pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <hr>
      <button menuClose ion-item *ngFor="let p of third_pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
