page-place-order {

  .address-card {
    padding: 10px 10px 0 16px;
    p {
      color: #111;
      margin: 5px 0;
    }

    .card-grid {

      .col {
        text-align: center;
      }
    }
  }
}
